.planula {
  height: 200px;
  width: 200px;
  animation: rotation 6s infinite linear;
  transform-origin: 65%;
  margin-left: -65px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}