@import "../utils/variables.scss";

.main-quiz-builder {
  text-align: center;
  display: grid;
  justify-content: center;

  &__title {
    margin: 10px 0px;
    color: $blue;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__input {
      height: 100%;
      color: $blue;
      border-color: $blue;
      resize: none;
    }

    &__preview {
      text-align: left;
      padding-left: 10px;

      &__item {
        border: solid 1px $blue;
        color: $blue;
        margin-bottom: 5px;
        padding: 5px;
      }
    }

    &__submit-button {
      grid-column: 1 / -1;
      padding: 10px;
    }
  }

  &__quiz-link {
    margin: 10px 0px;
  }
}

textarea {
  width: 200px;
  height: 200px;
}
