@import "../utils/variables.scss";

.main-quiz-builder {
  text-align: center;
  display: grid;
  justify-content: center;
  color: white;

  &__examples {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__input {
      height: calc(100% - 25px);
      color: $main-color;
      border-color: $main-color;
      resize: none;
      font-size: 16px;
      padding: 10px;
      width: auto;
    }

    &__preview {
      text-align: left;
      padding-left: 10px;
      word-break: break-all;

      &__item {
        border: solid 1px white;
        margin-bottom: 5px;
        padding: 5px;
      }
    }

    &__submit-button {
      grid-column: 1 / -1;
      padding: 10px;
    }
  }

  &__quiz-link {
    margin: 10px 0px;
  }
}

textarea {
  width: 200px;
  height: 200px;
}
