@import "../utils/variables.scss";

.my-observations {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 500px;

  &__search {
    display: grid;
    grid-template-columns: 3fr auto;
    box-shadow: $shadow;

    &__input {
      padding: 10px;
      font-size: 16px;
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
