@import "../utils/variables.scss";

.button {
  color: white;
  background: $blue;
  margin: auto;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}
