@import "../utils/variables.scss";

.button {
  color: white;
  background: $blue;
  margin: auto;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
