@import '../utils/variables.scss';

.medoosa-progress {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0 10px;
  margin-bottom: 10px;
  margin-left: -60px;

  &__avatar {
    height: 75px;
    width: 75px;
    top: 5px;
    background: black;
    border-radius: 50%;
    border: solid;
    position: relative;
    left: 50px;
    justify-self: end;
    z-index: 1;

    &--show-color {
      border-color: $medium-color;
    }

    &__medoosa {
      position: absolute;
      top: -37.5px;
      left: -37.5px;
      transform: scale(0.5);
    }
  }
}
