@import '../../utils/variables.scss';

.taxa-question {
  width: 100%;

  &__prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    &__correct-choice-info {
      display: inline;
    }

    &__feedback {
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-size: 36px;
    }
  }

  &__hud {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
    flex-direction: column;

    &__tip {
      position: absolute;
      top: 60px;
      right: 10px;
      padding-right: 10px;
      color: white;
      background: #015201;
      padding: 5px;
      border: solid 0.5px;
    }

    &__added-score {
      color: $medium-color;
    }

    &__scores {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 20px;
    }

    &__indicator {
      border: solid 1px;
      display: flex;
      margin: 10px;
    }
  }

  &__loading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__choices {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    width: 500px;
    height: 500px;
    margin: auto;

    @media screen and (max-width: 500px) {
      width: 100vw;
      height: 100vw;
      grid-template-columns: 50vw 50vw;
      grid-template-rows: 50vw 50vw;
    }

    &--hide {
      display: none;
    }
  }
}
