@import './utils/variables.scss';

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-color;
  background-image: url('https://images.pexels.com/photos/355321/pexels-photo-355321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

textarea,
select,
input,
button {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;

  &__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0a42;
    z-index: -1;
  }
}

.container {
  background: #000000de;
  padding: 20px;
  margin-top: 50px;
  color: white;
  border: solid 1px white;
  width: 500px;
  z-index: 0;

  @media screen and (max-width: 500px) {
    margin-top: 0px;
    width: 100vw;
  }
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  justify-content: center;
}

a {
  color: white;
}
