@import '../../utils/variables.scss';

.evolution-glow {
  height: 75px;
  width: 75px;
  position: relative;
  background: $medium-color;
  animation: fade 2s ease-in;
  border-radius: 50%;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(0.6);
  }

  10% {
    opacity: 1;
    transform: scale(1);
  }

  40% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 0;
  }
}
